<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library App</title>
  <link rel="icon" 
        type="image/png" 
        href="/img/book.ico">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div id="indexImg">
    <img src="/img/library.jpg" id="backgroundLib">
    <img src="/img/library2.jpg" id="backgroundLib2">
    <img src="/img/library3.jpg" id="backgroundLib3">
    <img src="/img/library4.jpg" id="backgroundLib4">
    <img src="/img/library5.jpg" id="backgroundLib5">
  </div>

  <div id="indexText">
    <div id="indexTitle">What book are you looking for?</div>
    <form action="javascript:void(0)" method="POST">
      <label for="bookSearch"></label>
      <input type="text" name="bookSearch" id="bookSearch" placeholder="e.g. Harry Potter and the Sorcerer's Stone">
      <div>
        <button class="btn btn-default btn-lg">Find Book!</button>
        <input type="submit" id="submitButton">
      </div>
      
    </form>
  </div>

</body>
</html>








