@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

.covertArt {
  width: 100%;
}

.shrink {
  width: 100%;
}

#findPic {
  width: 100%;
}

#hope {
  font-size: 341%;
  font-family: "Kaushan Script";
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

body {
  background-color: black;
}

.table {
  color: white;
}

#foundBooks {
  color: white;
}

#fixed {
  position: fixed;
}

.row {
  margin-bottom: 40px;
}

@media (max-width: 767px){
  #fixed {
    position: static;
  }

  .shrink {
    width: 30%;
  }

}







