@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

/*title text*/

#hope {
  font-size: 500%;
  font-family: "Kaushan Script";
  color: white;
  margin-bottom: 25px;
}

.tryAgainText {
  font-size: 220%;
  font-family: "Kaushan Script";
}

/*images*/

.shrink {
  width: 100%;
}

#findPic {
  width: 100%;
}

#fixed {
  position: fixed;
}

#again {
  width: 90%;
}

/*general*/

body {
  background-color: black;
}

#tryAgain {
  text-align: center;
}

/*book information*/

#foundBooks {
  color: white;
}

.row {
  margin-bottom: 40px;
}

.title, .author, .isbn, .rating, .price {
  font-size: 110%;
}

/*media queries*/

@media (max-width: 880px){
  #hope {
    font-size: 430%;
    margin-bottom: 80px;
  }
}

@media (max-width: 767px){
  #hope {
    font-size: 300%;
  }
  #fixed {
    position: static;
  }

  .shrink {
    width: 30%;
  }

  .tryAgainText {
    font-size: 300%;
  }
}






