@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

#findPic {
  width: 100%;
}

#hope {
  font-size: 341%;
  font-family: "Kaushan Script";
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

body {
  background-color: black;
}

.table {
  color: white;
}

#foundBooks {
  color: white;
}